//問題4

$snsList:(
  facebook: #4668b3,
  google: #de5745,
  twitter: #2fbbed,
  pinterest: #d94348,
  behance: #3079ff,
  dribbble: #eb6397
);

$maxWidth: 1000px;
$brandColor: #cd6799;
$headerNavFontSize: 16px;
$TitleFontSize: 20px;
$TitleBackgroundColor: #f5f5f5



