@import './variable';

.inner {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header {
  width: $maxWidth;
  margin: 0 auto;
  padding: 10px 0;

  h1 {
    text-align: left;
  }

  &__logo {
    width: 80px;
  }

  &__list {
    display: flex;

    & > li {
      margin-left: 30px;
      
      &:first-child {
        margin-left: 0;
      }
    }
    &__link {
      text-decoration: none;
      color: #666;
      font: {
        size: $headerNavFontSize;
        weight: bold;
      }
  
      &:hover {
        color: $brandColor;
      }
    }
  }
}

.parent {
  padding: 70px 0;
  background-color: #fff;

  &__ttl {
    color: #333;
    text-align: center;
    font: {
      size: $TitleFontSize;
      weight: bold;
    }
  }
}

.children {
  &__ttl {
    @extend .parent__ttl;
    background-color: $TitleBackgroundColor;
  }
}

.footer {
  $map:($snsList);
  // @debug $map;
  @mixin btn($snsColor) {
    display: block;
    padding: 20px 30px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background-color: $snsColor;
    text: {
      decoration: none;
      align: center;
    }
  }
  padding: 70px 0;

  &__sns {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > li {
        width: 32%;

        &:nth-child(n+4) {
          margin-top: 20px;
        }
      }
    }
    &__btn {
      //問題1
      // &.is-facebook {
      //   @include btn(#4668b3);
      // }
      // &.is-google {
      //   @include btn(#de5745);
      // }
      // &.is-twitter{
      //   @include btn(#2fbbed);
      // }
      // &.is-pinterest{
      //   @include btn(#d94348);
      // }
      // &.is-behance {
      //   @include btn(#3079ff);
      // }
      // &.is-dribbble {
      //   @include btn(#eb6397);
      // }

      //問題2
      // $snsTypeList: facebook, google, twitter, pinterest, behance, dribbble;
      // $snsColorList: #4668b3, #de5745, #2fbbed, #d94348, #3079ff, #eb6397;

      // @each $snsType in $snsTypeList {
      //   $index_key: index($snsTypeList, $snsType); // indexの取得
      //   &.is-#{$snsType} {
      //     $snsColor: nth($snsColorList, $index_key);
      //     @include btn($snsColor);
      //   }
      // }

      //問題3
      @each $class, $colors in $map {
        &.is-#{$class} {
          $snsColor: map-get($map, $class);
          @include btn($snsColor);
        }
      }
    }
  }
}





